@media print {
  @page {
    size: A4 landscape !important;
    margin: 20mm; /* Sesuaikan jika perlu */
  }

  body {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .print-container {
    width: 100%;
    page-break-inside: avoid;
  }
}
